body {
  display: flex;
  flex-direction: column; /* Adjusted to column layout */
  height: 100vh;
  margin: 0;
}


.header {
  background-color: #ffffff; /* Change to your header color */
  height: 120px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center; /* Add this line to center horizontally */
}


.review-form {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
  max-width: 600px;
  width: 100%; /* Full width */
  padding: 50px;
  margin-top: 110px; /* Adjusted margin for separation */
  margin-left: auto; /* Center horizontally */
  margin-right: auto; /* Center horizontally */
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(4, 2, 2, 0.1);
}



h2 {
  text-align: center;
  color: #000000;
}

label {
  margin-bottom: 10px;
  font-size: 18px;
  color: #000000
}

textarea,
input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
}

button {
  background-color: #ffffff;
  color: rgb(255, 255, 255);
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  margin-top: 10px; /* Add margin to the top of the button */
  margin-left: auto; /* Center horizontally */
  margin-right: auto; /* Center horizontally */
}


/* Optional: Add responsive styles */
@media screen and (max-width: 600px) {
  .review-form {
    width: 90%; /* Adjusted width for smaller screens */
  }
}
