
body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
  display: flex;
  flex-direction: column; /* Adjusted to column layout */
  align-items: center;
  height: 100vh;
  margin: 0;
  }
  

.header {
  background-color: #ffffff; /* Change to your header color */
  height: 120px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-form {
  width: 50%; /* Adjust the width as needed */
  padding: 20px;
  box-sizing: border-box;
}

/* Add additional styling as needed */

.profile-container {
  max-width: 1200px; /* Adjusted max-width for better visibility */
  margin: 80px auto;
  background-color: transparent;
  padding: 60px; /* Adjusted padding for better spacing */
  border-radius: 20px; /* Adjusted border-radius */
  display: flex;
  flex-direction: column; /* Adjusted to column layout */
  align-items: center; /* Center content horizontally */
}

.account-settings {
  color: #000000;
  text-align: center; /* Changed to center for vertical alignment */
  margin-bottom: 30px;
}

.account-settings h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 24px; /* Adjusted font-size */
  margin-bottom: 20px; /* Adjusted margin for better spacing */
}

label {
  margin-bottom: 10px;
  color: #000000;
}

input {
  width: 100%; /* Adjusted width for better responsiveness */
  max-width: px;
  padding: 10px;
  margin-bottom: 40px;
  border: 1px solid #000;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: #f0f0f0; /* Add your desired background color here */
  font-size: 25px;
}

button {
  background-color: #ffffff;
  color: #000000;
  padding: 15px 20px;
  border: 2px solid #000000;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #8476c7;
}

h3 {
  margin-top: 20px;
  color: #fff;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .profile-container {
    max-width: 100%;
    margin: 20px;
  }
}
