.button-container {
    text-align: center;
  }
  
  .button-border {
    border-width: 1px;
    border-style: solid;
    border-color: #000;
    border-radius: 20px;
    padding: 10px;
    width: 150px; 
    background-color: #000066;
  }
  
  .styled-button {
    background-color: transparent;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    color:aliceblue;
  }
  
  .styled-button.large-font {
    font-size: 20px;
  }


  