:root { 
--gray_50_01:#fcfcfc; 
--black_900_3d:#0000003d; 
--white_A700_3f:#ffffff3f; 
--lime_100_7f_01:#f7e5c17f; 
--gray_900_99:#1e1e1e99; 
--blue_gray_100_01:#d0d0d0; 
--gray_50:#f8f8f8; 
--white_A700_99:#ffffff99; 
--white_A700_33:#ffffff33; 
--black_900_01:#101010; 
--black_900:#000000; 
--blue_gray_800:#383063; 
--blue_gray_900_01:#272d32; 
--lime_100_7f:#f6e7c67f; 
--blue_gray_900:#343434; 
--blue_gray_50_38:#ebf3f538; 
--black_900_02:#010002; 
--pink_100:#ecbfd3; 
--black_900_05:#00000005; 
--blue_gray_800_7f:#3830637f; 
--gray_700:#555555; 
--blue_gray_100:#d3d3d3; 
--lime_100_01:#f5e6c5; 
--blue_gray_300:#838fb5; 
--blue_gray_600:#445583; 
--gray_800:#422a3c; 
--gray_900:#141414; 
--lime_100_02:#f6e7c6; 
--gray_200:#eff0ef; 
--gray_100:#f4f6fc; 
--lime_100:#f7e5c1; 
--orange_50:#faf2e2; 
--white_A700_67:#ffffff67; 
--light_green_50:#ecfff0; 
--blue_gray_900_cc:#282938cc; 
--black_900_19:#00000019; 
--cyan_900:#004760; 
--white_A700:#ffffff; 
--gray_800_6c:#422a3c6c; 
--gray_400:#bababa; 
--black_900:#000000; 
--blue_gray_800:#383063; 
--indigo_900:#1a0d5e; 
--white_A700:#ffffff; 
}